@import '../../css/styles.scss';


.purpose {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: get-vw(1440px);
    max-width: 1400px;
    margin-top: get-vh(300px);

    .purpose-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 80vw;

        .purpose-title {
            text-align: center;

            h1 {
                font-size: 40px;
            }
            p {
                font-size: 32px;
            }
        }

        .cards-purpose{
            display: flex;
            flex-direction: column;
            
            .card-left{
                display: flex;
                justify-content: flex-start;
                margin-top: get-vh(300px);

                .raspberry-container {
                    justify-content: flex-start;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: start;
                    width: get-vw(590px);
                    height: fit-content;
                    border-radius: 30px;
                    border: 4px solid #56423D;
                    background: $yellow;
                    margin-right: 0 auto;
                    padding: 0px 0px 30px 0px;
        
                    .raspberry-img {
                        width: 80%;
                        margin-top: get-vh(-170px);
        
        
                        img {
                            width: get-vh(330px);
                        }
                    }
        
                    .container-content {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        padding: 40px;
        
                        h2 {
                            font-size: 40px;
                            letter-spacing: 1.2px;
                        }
        
                        p {
                            font-size: 24px;
                            letter-spacing: 1.2px;
                            line-height: 30px;
                        }
                    }
        
                    box-shadow: 2px 24px 34px 0px rgba(86, 66, 61, 0.15);
                }
            }

            .card-right{
                display: flex;
                justify-content: flex-end;
                margin-top: get-vh(300px);
   
                .lemon-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: start;
                    justify-content: flex-end;
                    width: get-vw(590px);
                    height: fit-content;
                    border-radius: 30px;
                    border: 4px solid #56423D;
                    background: $light-pink;
                    padding: 0px 0px 55px 0px;
        
                    .lemon-img {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin-top: get-vh(-190px);
                        
                        img {
                            width: get-vh(480px);
                            // transform: rotate(10deg);
                        }
                    }
        
                    .container-content {
                        display: flex;
                        flex-direction: column;
                        margin-top: -70px;
                        gap: 30px;
                        padding: 40px;
        
                        h2 {
                            font-size: 40px;
                            letter-spacing: 1.2px;
                        }
        
                        p {
                            font-size: 24px;
                            letter-spacing: 1.2px;
                            line-height: 30px;
                        }
                    }
                    box-shadow: 2px 24px 34px 0px rgba(86, 66, 61, 0.15);
                }
                
            }
        }


    }

}


@media screen and (max-width: 1400px){

    .purpose {
        .purpose-container {
            .cards-purpose {
                .card-left {
                    .raspberry-container{
                        width: get-vw(790px);

                        .container-content{
                            h2{
                                font-size: 24px;
                            }

                            p{
                                font-size: 18px;
                            }
                        }
                    }
                }
                .card-right {
                    .lemon-container{
                        width: get-vw(790px);

                        .container-content{
                            h2{
                                font-size: 24px;
                            }

                            p{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1230px){

    .purpose {

        .purpose-container {

            .cards-purpose {

                .card-left {
                    .raspberry-container{
                        width: get-vw(990px);
                    }
                }

                .card-right {
                    .lemon-container{
                        width: get-vw(990px);
                    }

                }

            }

        }

    }

}

@media screen and (max-width: 940px) {
    
    .purpose {
        .purpose-container {
            .cards-purpose {
                .card-left {
                    justify-content: center;
                }
                .card-right {
                    justify-content: center;
                }
            }
        }
    }

}

@media screen and (max-width: 768px){
    
    .purpose {
        .purpose-container {
            .cards-purpose {
                .card-left {
                    .raspberry-container{
                        width: 100%;

                        .raspberry-img{
                            width: 100%;
                        }
                    }
                }
                .card-right {
                    .lemon-container{
                        width: 100%;
                        padding: 0px 0px 30px 0px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 450px){

    .purpose {
        .purpose-container {
            .cards-purpose {
                .card-left {
                    .raspberry-container{
                        .raspberry-img{
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
                .card-right {
                    .lemon-container{
                        width: 100%;
                        padding: 0px 0px 30px 0px;
                        
                        .lemon-img{
                            justify-content: center;

                            img {
                                width: 130%;
                            }
                        }
                    }
                }
            }
        }
    }

}