@import '../../css/styles.scss';


.product {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: get-vw(1440px);
    max-width: 1400px;
    margin-top: 10%;

    .product-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 80vw;

        .product-title {
            text-align: center;
            
            h1 {
                font-size: 40px;
            }

            p {
                font-size: 32px;
            }
        }

        .cards-product {
            display: flex;
            flex-direction: column;

            .card-left {
                display: flex;
                justify-content: flex-start;
                margin-top: get-vh(300px);

                .yellow-container {
                    justify-content: flex-start;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: start;
                    width: get-vw(590px);
                    height: fit-content;
                    border-radius: 30px;
                    border: 4px solid #56423D;
                    background: $yellow;
                    margin-right: 0 auto;
                    padding: 0px 0px 20px 0px;

                }

                .yellow-img {
                    width: 80%;
    
                    img {
                        width: 100%;
                    }
                }

                .container-content {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding: 40px;

                    h2 {
                        font-size: 40px;
                        letter-spacing: 1.2px;
                    }

                    p {
                        font-size: 24px;
                        letter-spacing: 1.2px;
                        line-height: 30px;
                    }
                }

            }
        }

        .card-right {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-top: get-vh(-100px);

            
            .pink-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: start;
                width: get-vw(590px);
                height: fit-content;
                border-radius: 30px;
                border: 4px solid #56423D;
                background: $light-pink;
                padding: 0px 0px 20px 0px;
                box-shadow: 2px 24px 34px 0px rgba(86, 66, 61, 0.15);

                .container-content {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding: 40px;
    
                    h2 {
                        font-size: 40px;
                        letter-spacing: 1.2px;
                    }
    
                    p {
                        font-size: 24px;
                        letter-spacing: 1.2px;
                        line-height: 30px;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1500px){

    .product{
        .product-container{
            .cards-product{

                .card-right{
                    margin-top: get-vh(-50px);

                }
            }
        }
    }
}

@media screen and (max-width: 1400px){
    .product{
        .product-container{
            .cards-product{
                .card-left{
                    .yellow-container{
                        width: get-vw(790px);
                        padding: 0px 0px 10px 0px;

                        h2 {
                            font-size: 32px;
                            letter-spacing: 1.2px;
                        }
        
                        p {
                            font-size: 18px;
                            letter-spacing: 1.2px;
                            line-height: 30px;
                        }
                    }
                }

                .card-right{
                    
                    .pink-container{
                        margin-top: get-vh(70px);
                        width: get-vw(790px);

                        h2 {
                            font-size: 32px;
                            letter-spacing: 1.2px;
                        }
        
                        p {
                            font-size: 18px;
                            letter-spacing: 1.2px;
                            line-height: 30px;
                        }

                    }

                }
            }
        }
    }
}

@media screen and (max-width: 940px) {

    .product{
        .product-container{
            .cards-product{
                .card-left {
                    margin-top: get-vh(300px);
                    justify-content: center;

                    .yellow-container{
                        width: get-vw(990px);
                        .yellow-img{
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        
                    }
                }
                .card-right {
                    margin-top: get-vh(200px);
                    justify-content: center;

                    .pink-container{
                        width: get-vw(990px);
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px){

    .product{
        .product-container{
            .cards-product{
                .card-left {

                    .yellow-container{
                        width: 100%;
                        
                    }
                }
                .card-right {

                    .pink-container{
                        width: 100%;
                    }
                }
            }
        }
    }

}