@import './_colors.scss';
@import './_responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

body, * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $white;
    color: $brown;
    // overflow-x: hidden;
}
