@import "../../css/styles.scss";


.dialog{

    .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
        border-radius: 29px !important;
        border: 4px solid $brown;
        background-color: $brown;
        
        .dialog-title {
            background-color: $brown;
            color: $white;
            font-family: 'Montserrat', sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2.4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .close-dialog {
                background-color: transparent;
                border: none;
                cursor: pointer;
    
                img {
                    width: 70%;
                }
            }
        }
        
        .dialog-body {
            background-color: $pink;
        
            .container-table {
                border: none;
                box-shadow: none;
                background-color: $pink;
                
                .table {
                    border: none;
                    padding: 0;
    
                    .table-head {
                        color: $brown;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1.6px;
                        
                        p {
                            padding: 15px 0 15px 0;
                        }
                    }
    
                    .table-row{
    
                        .table-cell{
                            font-size: 18px;
                            color: $brown;
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 1.2px;
                            border: none;
                            padding: 10px;
                        }
                    }
    
    
                }
        
            }
        
        }
    }

}

