@import "../../css/styles.scss";

.footer-component {
    background-color: $yellow;
    border-radius: 30px 30px 0px 0px;
    border: 4px solid $brown;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30vh;

    .footer-img{
        margin-top: get-vh(-250px);
        display: flex;
        
        .talk-orange {
            margin-top: get-vh(-20px);
            width: 182px;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.2px;
        }
    }

    .footer-items{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            color: $brown;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
            font-size: 20px;
        }
    
        .texts-container {
            display: flex;
            flex-direction: row;

            .contact {
                width: get-vw(400px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0 get-vh(30px) 0 get-vh(30px);
                padding: 20px;
        
                .phone, .mail{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px 0 10px 0;
        
                    p{
                        margin-left: 10px;
                    }
                }

                .contact-title {
                    margin-bottom: get-vh(30px);

                }
    
                .site-name{
                    margin-top: get-vh(70px);
                }
            }
    
            .reference {
                width: get-vw(400px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0 get-vh(30px) 0 get-vh(30px);
                padding: 20px;

                .reference-title {
                    margin-bottom: get-vh(30px);                    
                }
        
                .art, .api{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px 0 10px 0;
                    
                    a {
                        color: $brown;
                    }
                    
                }
            }
        }

        .feedback-container {
            margin: 0 get-vh(30px) 0 get-vh(30px);

            .feedback {
                width: get-vw(400px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;

                .feedback-title {
                    margin-bottom: get-vh(30px);
                }
        
        
                .text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px 0 10px 0;
                    
                    p {
                        text-align: start;
                    }
                }
    
                .btn-feedback{
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin-top: get-vh(30px);
    
                    .btn {
                        width: 100%;
                        height: fit-content;
                        border-radius: 20px;
                        border: 4px solid $brown;
                        background: $brown;
                        color: $white;
                        box-shadow: 2px 24px 34px 0px rgba(86, 66, 61, 0.15);
                        text-align: center;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 1.2px;
                        padding: 8px;
                    }
    
                }
            }
        }


    }


}

@media screen and (max-width:1300px){
    
    .footer-component{

        .footer-items{

            .texts-container{

                .contact {
                    word-break: break-word;

                }

                .reference{

                }
            }
            p{
                font-size: 18px;
            }
        }
    }
}


@media screen and (max-width: 940px) {

    .footer-component{

        .footer-items{
            flex-direction: column;

            .texts-container{
                flex-direction: column;

                .contact {
                    width: 100%;

                }

                .reference{
                    width: 100%;

                }
            }

            p{
                font-size: 18px;
            }

            .feedback-container{
                margin-left: 0;
                width: 100%;

                .feedback{
                    text-align: left;
                    width: 100%;
                }

            }
        }
    }

}


@media screen and (max-width: 768px){
    .footer-component{

        .footer-img{
            width: 70%;
            margin-top: get-vh(-200px);

            img {
                width: 100%;
            }

            .talk-orange{
                font-size: 18px;
            }
        }

        .footer-items{
            width: 100%;
            justify-content: space-around;

            .texts-container{
                width: 100%;
                justify-content: space-around;

                .contact, .reference{
                    padding: 0;
                }
            }
        }
    }
}