@import '../../css/styles.scss';

.accordion {

    margin-left: 16px;
    margin:15px 0 15px 0;
    width: 650px;

    border-radius: 20px !important;
    border: 4px solid $brown;

    .title-accordion {
        /*border-bottom: 2px solid $brown;*/
    }

    img {
        width: 24px;
    }

    

}