.faq {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: get-vw(1440px);
    max-width: 1400px;
    margin-top: 10%;

    .faq-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 80vw;

        .faq-title{
            text-align: center;
            gap: 30px;
            
            h1 {
                font-size: 40px;
            }
            
            p {
                font-size: 32px;
            }
        }

        .faq-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            .faq-accordions{
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
    
            .faq-img{
    
                img {
                    width: get-vh(520px);
                }
            }
        }

        
    }
}


@media screen and (max-width: 1280px){

    .faq {    
        .faq-container {    
            .faq-content{      
                flex-direction: column;
                .faq-accordions{   

                }
        
                .faq-img{
                    display: none;
                }
            }
    
            
        }
    }

}

@media screen and (max-width: 940px) {

    .faq {    
        
        .faq-container { 
            margin: 0 auto;

            .faq-content{      
                .faq-accordions{ 
                }
        
                .faq-img{
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }
            }
    
            
        }
    }
}

