.faq {


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    img {
        width: get-vh(520px);
    }
    

}

.faq-title{

    margin-top: 240px;
    margin-bottom: 80px;

    h1 {
        font-size: 40px;
    }
    p {
        font-size: 32px;
    }
}